/*Per riempire l'intera finesta del browser, togliamo qualsiasi tipo di marigne*/
body{
    margin: 0;
    background: #fefefe;
    font-family: 'Lato', sans-serif; /*specifichiamo quale font utilizzare*/
}

.clear{
    clear: both; /* per annullare gli effetti dei float */
}

.container{
    max-width: 80%; /* la massima larghezza del div sarà 80% dello schermo */
    margin: 0 auto; /* sopra e sotto: 0 margine. destra e sinistra: auto (centrato) */
}

a{
    text-decoration: none;
    color: #fff;
}

nav{
    padding: 40px 0;
    background: #2d3e50;
    color: #fff;
    height: 40px;
    border-bottom: 5px solid #18bb9c;
}

#logo{
    float: left;
    line-height: 40px;
}

nav ul {
    line-height: 40px;
    list-style: none;
    float: right;
    margin: 0;
}

.nav-item a:hover{
    color: #18bb9c;
}

.nav-item{
    display: inline-block;
    margin: 0 15px;
}

/*zona banner superiore*/

.immagine-profilo{
    width: 150px;
    border-radius: 50%;
    border: 1px solid #eee;
}

#top-section {
    background: #18bb9c;
    padding: 50px 0;
    color: #fff;
    text-align: center;
}

#top-section h1{
    margin-top: 0;
}

.bottoni-bianchi{
    padding: 10px 15px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px 20px;
}

.bottoni-bianchi:hover{
    background: #fff;
    color: #18bb9c;
    cursor: pointer;
}

/*Zona servizi offerti*/

#skills-section{
    text-align: center; /*contenuto centrato*/
    margin-top: 50px; /*spazio superiore*/
}

/*titolo della skill*/
#skills-section h3{
    color: #18bb9c; /*colore*/
    font-size: 2em; /*dimensione font*/
}

.skill{
    /*larghezza dei div skill, in pagina ne abbiamo 3 quindi 100 / 3
    lasciando un po' di spazio per i margini
    */
    width: 28%;
    display: inline-block; /*questi div saranno posti uno a fianco all'altro*/
    margin: 2%; /*un po di spazio tra i div*/
    color: #5a5a5a;
    margin-bottom: 80px;
}

.skill h4{
    font-size: 1.2em;
}

/*FOOTER*/

footer{
    background: #2d3e50;
    padding: 20px;
    color: #fff;
}

footer p{
    color: #18bb9c;
}

footer input[type=submit]{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background: #18bb9c;
}

footer input[type=text]{
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.footer-section{
    display: inline-block;
    width: 28%;
    margin: 2%;
    text-align: center;
    vertical-align: text-top;
}

.social{
    display: block;
    color: #18bb9c;
}